@inherits WalletComponent
@using VendingMachine.App.DomainExtensions
@using VendingMachine.Domain

<div id="@this.Instance.Name" 
     class="container wallet @(this.Instance.Name == WalletName.UserInserted ? "button-wallet" : "")" 
     style="left: @(this.LocationInPercentages.X)%; top: @(this.LocationInPercentages.Y)%"
     title="@this.Tooltip">

    <h5>@this.Instance.Name.GetName() (@GetAmountText(this.Instance.Amount) @this.Instance.Currency)</h5>

    @foreach (var (coin, quantity) in this.Instance.OrderedCoinsWithQuantity.Reverse())
    {
        <div class="row" @onclick="@(a => this.OnClick?.Invoke(coin))">
            <div class="col-sm">
                <img src="data:image/png;base64, @coin.RepresentedValue.GetImage()" 
                     class=@(this.Instance.Name == WalletName.User ? "button-coin" : "") 
                     alt=@(this.Instance.Name == WalletName.User ? "button-coin" : "")/>
            </div>
            <div class="col-sm" style="align-self: center;">
                @GetAmountText(quantity)
            </div>
        </div>
    }

    @if (!this.Instance.OrderedCoinsWithQuantity.Any())
    {
        @:-
    }
</div>
