@inherits LayoutComponentBase

<div class="main">
    
    <h1>@Resources.General.Title</h1>

    <h4 class="explanation">
        @Resources.General.Subtitle
    </h4>

    <h4 class="explanation">
        @(new MarkupString(Resources.General.Explanation))
    </h4>

    <div class="content">
        @Body
    </div>
</div>

<span class="see-below">@Resources.General.SeeBelow</span>
<span class="footer">@Resources.General.Copyright</span>